<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/whatsapp_image_2023_02_20_at_15_51_18"
        android:label="@string/app_name"
        android:roundIcon="@drawable/whatsapp_image_2023_02_20_at_15_51_18"
        android:supportsRtl="true"
        android:theme="@style/Theme.Emart"
        tools:targetApi="31">
        <activity
            android:name=".myaccount"
            android:exported="false" />
        <activity
            android:name=".myorder"
            android:exported="false" />
        <activity
            android:name=".mycart"
            android:exported="false" />
        <activity
            android:name=".grocerydetailproduct"
            android:exported="false" />
        <activity
            android:name=".cosmeticdetailproduct"
            android:exported="false" />
        <activity
            android:name=".cosmeticdetail"
            android:exported="false" />
        <activity
            android:name=".electronicdetailproduct"
            android:exported="false" />
        <activity
            android:name=".furnituredetailproduct"
            android:exported="false" />
        <activity
            android:name=".groceryproductcard"
            android:exported="false" />
        <activity
            android:name=".cosmeticproductcard"
            android:exported="false" />
        <activity
            android:name=".electronicproductcard"
            android:exported="false" />
        <activity
            android:name=".furnitureproductcard"
            android:exported="false" />
        <activity
            android:name=".Home_Activity"
            android:exported="false"
            android:label="@string/title_activity_home"
            android:theme="@style/Theme.Emart.NoActionBar" />
        <activity
            android:name=".sgpage"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".lgpage"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>